<!-- For Using View Encapsulation -->

<!-- <section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>App Component</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Welcome to the App Component!</p>
        </div>
    </div>
    <div class="button">
        <button class="btn-primary">App Component</button>
    </div>
    <div class="flex">
        <app-management></app-management>
        <app-dashboard></app-dashboard>
    </div>
</section> -->

<app-navbar *ngIf="showNavbar"></app-navbar>

<router-outlet></router-outlet>